In [1]:
import pandas as pd

In [2]:
# Задание 1
log = pd.read_csv('visit_log.csv', sep = ';')

# Для проверки - распределение данных в стодбце "traffic_source"
#print(log.traffic_source.value_counts())

# Yandex и google = organic в столбце "source_type"
log.loc[(log.traffic_source == 'yandex') | (log.traffic_source =='google'), 'source_type'] = "organic"

# paid и email = ad для Russia в столбце "source_type"
log.loc[(log.region.str.contains('Russia')) & ((log.traffic_source == 'paid') | (log.traffic_source =='email')), 'source_type'] = "ad"

# paid и email = other для не Russia в столбце "source_type"
log.loc[(log.region != 'Russia') & ((log.traffic_source == 'paid') | (log.traffic_source =='email')), 'source_type'] = "other"

# Для остальных (пустых) значений в столбце "source_type" присваиваем значнения из столбца "traffic_source"
log.source_type.fillna(log.traffic_source, inplace = True)
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [3]:
# Задание 2
data = pd.read_csv('URLs.txt')
data[data.url.str.contains(r'/\d{8}-')].head()
#data.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [14]:
# Задача 3
stats = pd.read_csv('ml-latest-small/ratings.csv')
#stats['date'] = pd.to_datetime(stats['timestamp'], unit = 's')

# Преобразуем таблицу в сводную с итогом по сумме выставленных оценок
pivot_stats = stats.pivot_table(index='userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', margins = True)
#print(pivot_stats.head())

# Добавляем столбец "Clients_typy" с указанием "Active" для userId с общим количеством выставленных 
#оценок 100 и более
pivot_stats.loc[pivot_stats.All >= 100, 'Clients_type'] = "Active"
#pivot_stats.head()

# Переводим userId в индекс для stats(чтобы можно было воспользоваться join)
new_stats = stats.set_index('userId')

# К new_stats присоединяем столбец "Clients_type"
joined = new_stats.join(pivot_stats.Clients_type)
joined.head()

# Переводим userId из индекса (чтобы можно было воспользоваться pivot)
index_joined = joined.reset_index()

# Сводная таблица с указанием мин.времени
joined_pivot_min = index_joined.pivot_table(index='userId', columns = 'Clients_type', values = 'timestamp', aggfunc = 'min', margins = True )
joined_pivot_min.head()

# Сводная таблица с указанием макс.времени
joined_pivot_max = index_joined.pivot_table(index='userId', columns = 'Clients_type', values = 'timestamp', aggfunc = 'max', margins = True )
# Переименованние названий столбцов, чтобы они не совпадали с проедыдущей таблицей (мин)
joined_pivot_max_rename = joined_pivot_max.rename(columns = {'Active': 'Max_time', 'All' : '222'})

# Объединение таблиц с мин и макс временем клиентов с количеством оценок 100 и более
joined_time = joined_pivot_min.join(joined_pivot_max_rename)

# Удаление ненужных столбцов
joined_time.drop(['All', '222'], axis = 'columns', inplace = True)

# Переименование названий столбцов
final = joined_time.rename(columns = {'Active': 'Min_time', 'Max_time' : 'Max_time'})

# Перевод времени в привычный формат дат
final['Min_time'] = pd.to_datetime(final['Min_time'], unit = 's')
final['Max_time'] = pd.to_datetime(final['Max_time'], unit = 's')
final['diff'] = final['Max_time'] - final['Min_time']
print('Среднее время жизни клиентов, у которых 100 и более оценок - ', final['diff'].mean())

Среднее время жизни клиентов, у которых 100 и более оценок -  481 days 21:02:42.113636

In [34]:
# Задача 4
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

#Переводим client_Id в индекс (чтобы можно было воспользоваться join)
new_rzd = rzd.set_index('client_id')
new_auto = auto.set_index('client_id')
new_air = air.set_index('client_id')
new_client_base = client_base.set_index('client_id')

# К rzd добавляем столбец с выручкой auto 
rzd_auto = new_rzd.join(new_auto.auto_revenue, how = 'outer')

# К rzd и auto добавляем столбец с выручкой air
rzd_auto_air = rzd_auto.join(new_air.air_revenue, how = 'outer')

# К rzd, auto, air добавляем столбец с адресами клиентов
rzd_auto_air_client_base = rzd_auto_air.join(new_client_base.address, how = 'outer')

print('Таблица 1')
print(rzd_auto_air.head(15))

print('Таблица 2')
print(rzd_auto_air_client_base.head(15))

Таблица 1
           rzd_revenue  auto_revenue  air_revenue
client_id
111             1093.0           NaN          NaN
112             2810.0           NaN          NaN
113            10283.0       57483.0          NaN
114             5774.0          83.0          NaN
115              981.0         912.0         81.0
116                NaN        4834.0          4.0
117                NaN          98.0         13.0
118                NaN           NaN        173.0
Таблица 2
           rzd_revenue  auto_revenue  air_revenue          address
client_id
111             1093.0           NaN          NaN  Комсомольская 4
112             2810.0           NaN          NaN   Энтузиастов 8а
113            10283.0       57483.0          NaN  Левобережная 1а
114             5774.0          83.0          NaN          Мира 14
115              981.0         912.0         81.0        ЗЖБИиДК 1
116                NaN        4834.0          4.0    Строителей 18
117                NaN          98.0         13.0  Панфиловская 33
118                NaN           NaN        173.0     Мастеркова 4